In [ ]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
s1 = s1 + 5
s1

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [ ]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [ ]:
s3 = s2 - s1
s3

0     9
1    18
2    27
3    36
4    45
5    54
6    63
7    72
8    81
dtype: int64

In [ ]:
a = [10,20,30]
b = [1,2,3]
c = ['one', 'two','three']

d = pd.Series(data = a, index = c)
d

one      10
two      20
three    30
dtype: int64

In [ ]:
e = pd.Series(a,c)
e

one      10
two      20
three    30
dtype: int64

In [ ]:
f = pd.Series(c,b)

In [ ]:
f

1      one
2      two
3    three
dtype: object

In [ ]:
import numpy as np

In [ ]:
df3 = pd.DataFrame(np.random.randn(2,2))

In [ ]:
df3

          0         1
0 -2.084472 -0.514974
1 -0.539444  0.157714

In [ ]:
a = [5,4,3,2,1]
b = [10,20,30,40,50]
c = ['a','b','c','d','e']

In [ ]:
s1 = pd.Series(a,c)
s2 = pd.Series(b,c)

In [ ]:
s1

a    5
b    4
c    3
d    2
e    1
dtype: int64

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
df1 = pd.concat([s1,s2], axis=1)
df1

   0   1
a  5  10
b  4  20
c  3  30
d  2  40
e  1  50

In [ ]:
df2 = pd.concat([s1,s2], axis=0)
df2

a     5
b     4
c     3
d     2
e     1
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
col = ['1st Column','2nd Column','3rd Column','4th Column']
row = ['1st Row','2nd Row','3rd Row','4th Row']

In [ ]:
df = pd.DataFrame(data = np.random.randn(4,4) ,index=row,columns=col)
df

         1st Column  2nd Column  3rd Column  4th Column
1st Row   -0.858351   -1.253068    0.636002    0.145963
2nd Row   -0.113322   -0.121212   -0.011714   -0.110040
3rd Row   -0.652483   -0.467583   -1.466496    0.870651
4th Row   -0.118952    1.927932   -0.251466    0.837389

In [ ]:
df = pd.DataFrame(data = np.random.randn(9,7))
df

          0         1         2         3         4         5         6
0  0.478852 -0.026121  1.984724 -0.775912  0.919391  0.006283 -0.487096
1  0.216516 -1.424411 -0.008527  0.552522  1.783840  1.380231  1.361906
2 -1.456968  1.869192  0.009707  1.940783 -0.968731 -0.607171 -0.385657
3 -1.382386  0.211406 -1.940241  0.379976 -1.025509  0.736278  1.090322
4 -1.170736 -0.685079 -1.164009 -1.093573  1.539086  1.104113 -1.702386
5 -1.224083  0.864676  0.297213 -2.253693  0.004318  0.412555  1.548426
6  0.464933 -0.867403  0.151913 -0.537217 -1.234816  0.140323 -1.581420
7  0.631673 -0.453785 -0.176620 -0.961763 -0.436483  1.199849  1.673964
8 -0.723993 -1.429697 -0.185718  1.606947 -0.977779 -0.047222  1.148288

In [ ]:
df.head()

          0         1         2         3         4         5         6
0  0.478852 -0.026121  1.984724 -0.775912  0.919391  0.006283 -0.487096
1  0.216516 -1.424411 -0.008527  0.552522  1.783840  1.380231  1.361906
2 -1.456968  1.869192  0.009707  1.940783 -0.968731 -0.607171 -0.385657
3 -1.382386  0.211406 -1.940241  0.379976 -1.025509  0.736278  1.090322
4 -1.170736 -0.685079 -1.164009 -1.093573  1.539086  1.104113 -1.702386

In [ ]:
df.tail()

          0         1         2         3         4         5         6
4 -1.170736 -0.685079 -1.164009 -1.093573  1.539086  1.104113 -1.702386
5 -1.224083  0.864676  0.297213 -2.253693  0.004318  0.412555  1.548426
6  0.464933 -0.867403  0.151913 -0.537217 -1.234816  0.140323 -1.581420
7  0.631673 -0.453785 -0.176620 -0.961763 -0.436483  1.199849  1.673964
8 -0.723993 -1.429697 -0.185718  1.606947 -0.977779 -0.047222  1.148288

In [ ]:
df.tail(3)

          0         1         2         3         4         5         6
6  0.464933 -0.867403  0.151913 -0.537217 -1.234816  0.140323 -1.581420
7  0.631673 -0.453785 -0.176620 -0.961763 -0.436483  1.199849  1.673964
8 -0.723993 -1.429697 -0.185718  1.606947 -0.977779 -0.047222  1.148288

In [ ]:
df.shape

(9, 7)

In [ ]:
df.describe()

              0         1         2         3         4         5         6
count  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
mean  -0.462910 -0.215691 -0.114618 -0.126881 -0.044076  0.480582  0.296261
std    0.893707  1.082176  1.067568  1.357588  1.174741  0.669704  1.348935
min   -1.456968 -1.429697 -1.940241 -2.253693 -1.234816 -0.607171 -1.702386
25%   -1.224083 -0.867403 -0.185718 -0.961763 -0.977779  0.006283 -0.487096
50%   -0.723993 -0.453785 -0.008527 -0.537217 -0.436483  0.412555  1.090322
75%    0.464933  0.211406  0.151913  0.552522  0.919391  1.104113  1.361906
max    0.631673  1.869192  1.984724  1.940783  1.783840  1.380231  1.673964

In [ ]:
df = pd.DataFrame([[1,2,3],[5,5,5],[7,8,9]])
df

   0  1  2
0  1  2  3
1  5  5  5
2  7  8  9

In [ ]:
df.describe()

              0    1         2
count  3.000000  3.0  3.000000
mean   4.333333  5.0  5.666667
std    3.055050  3.0  3.055050
min    1.000000  2.0  3.000000
25%    3.000000  3.5  4.000000
50%    5.000000  5.0  5.000000
75%    6.000000  6.5  7.000000
max    7.000000  8.0  9.000000

In [ ]:
col = ['0th Column', '1st Column','2nd Column','3rd Column','4th Column']
row = ['0th Row','1st Row','2nd Row','3rd Row','4th Row']
df = pd.DataFrame(data = np.random.randn(5,5), index = row, columns= col)
df

         0th Column  1st Column  2nd Column  3rd Column  4th Column
0th Row    0.285945    1.124959   -1.351290    1.877073   -1.999901
1st Row   -0.192460   -0.499934   -0.718447   -0.825084   -0.294635
2nd Row   -0.796939    1.575488   -0.855320    1.359163    0.008318
3rd Row    1.297865   -0.557879   -0.739412   -0.271610    0.620705
4th Row    0.517355    0.943250    0.689613   -0.495336   -1.409110

In [ ]:
df['5th Column'] = np.random.randn(5,1)

In [ ]:
df

,0th Column,1st Column,2nd Column,3rd Column,4th Column,5th Column
0th Row,0.285945,1.124959,-1.351290,1.877073,-1.999901,0.413022
1st Row,-0.192460,-0.499934,-0.718447,-0.825084,-0.294635,-2.630996
2nd Row,-0.796939,1.575488,-0.855320,1.359163,0.008318,-2.023047
3rd Row,1.297865,-0.557879,-0.739412,-0.271610,0.620705,0.508399
4th Row,0.517355,0.943250,0.689613,-0.495336,-1.409110,-1.238645

In [ ]:
df.iloc[[0,4]]

,0th Column,1st Column,2nd Column,3rd Column,4th Column,5th Column
0th Row,0.285945,1.124959,-1.351290,1.877073,-1.999901,0.413022
4th Row,0.517355,0.943250,0.689613,-0.495336,-1.409110,-1.238645

In [ ]:
df.iloc[[0,2],[1,4]]

         1st Column  4th Column
0th Row    1.124959   -1.999901
2nd Row    1.575488    0.008318

In [ ]:
df.iloc[0:3]

,0th Column,1st Column,2nd Column,3rd Column,4th Column,5th Column
0th Row,0.285945,1.124959,-1.351290,1.877073,-1.999901,0.413022
1st Row,-0.192460,-0.499934,-0.718447,-0.825084,-0.294635,-2.630996
2nd Row,-0.796939,1.575488,-0.855320,1.359163,0.008318,-2.023047

In [ ]:
df.iloc[1:4 ,3:5]

         3rd Column  4th Column
1st Row   -0.825084   -0.294635
2nd Row    1.359163    0.008318
3rd Row   -0.271610    0.620705

In [ ]:
row = ['Prince','Varun','Nivedita','Jaadu']
col = ['Age','Qualification','Gender','State']
friends = pd.DataFrame([[24,'B.Tech','M','Bihar'],[22,'B.Tech','M','Haryana'],[21,'B.Tech','F','UK'],[23,'M.Tech','F','Delhi']], index = row, columns=col)
friends

          Age Qualification Gender    State
Prince     24        B.Tech      M    Bihar
Varun      22        B.Tech      M  Haryana
Nivedita   21        B.Tech      F       UK
Jaadu      23        M.Tech      F    Delhi

In [ ]:
friends.loc[['Prince','Nivedita']]

          Age Qualification Gender  State
Prince     24        B.Tech      M  Bihar
Nivedita   21        B.Tech      F     UK

In [ ]:
friends.loc[['Varun','Nivedita'],['Age','Gender']]

          Age Gender
Varun      22      M
Nivedita   21      F

In [ ]:
friends.loc['Varun':'Jaadu']

          Age Qualification Gender    State
Varun      22        B.Tech      M  Haryana
Nivedita   21        B.Tech      F       UK
Jaadu      23        M.Tech      F    Delhi

In [ ]:
friends.loc['Prince':'Nivedita','Gender':'State']

         Gender    State
Prince        M    Bihar
Varun         M  Haryana
Nivedita      F       UK

In [ ]:
friends['Age']

Prince      24
Varun       22
Nivedita    21
Jaadu       23
Name: Age, dtype: int64

In [ ]:
friends[['Age']]

          Age
Prince     24
Varun      22
Nivedita   21
Jaadu      23

In [ ]:
row = ['Number','Square','Cube']
col = ['1st','2nd','3rd','4th','5th']
df = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,8,27,64,125]], index = row, columns = col)
df

        1st  2nd  3rd  4th  5th
Number    1    2    3    4    5
Square    1    4    9   16   25
Cube      1    8   27   64  125

In [ ]:
df['3rd']

Number     3
Square     9
Cube      27
Name: 3rd, dtype: int64

In [ ]:
df[['3rd']]

        3rd
Number    3
Square    9
Cube     27

In [ ]:
df[['3rd','1st','5th']]

        3rd  1st  5th
Number    3    1    5
Square    9    1   25
Cube     27    1  125

In [ ]:
df['5th - 4th'] = df['5th'] - df['4th']
df

        1st  2nd  3rd  4th  5th  5th - 4th
Number    1    2    3    4    5          1
Square    1    4    9   16   25          9
Cube      1    8   27   64  125         61

In [ ]:
df['2nd - 1st'] = df['2nd'] - df['1st']
df

        1st  2nd  3rd  4th  5th  5th - 4th  2nd - 1st
Number    1    2    3    4    5          1          1
Square    1    4    9   16   25          9          3
Cube      1    8   27   64  125         61          7

In [ ]:
df.iloc[0]

1st          1
2nd          2
3rd          3
4th          4
5th          5
5th - 4th    1
2nd - 1st    1
Name: Number, dtype: int64

In [ ]:
df.iloc[2]

1st            1
2nd            8
3rd           27
4th           64
5th          125
5th - 4th     61
2nd - 1st      7
Name: Cube, dtype: int64

In [ ]:
df.iloc[[2]]

      1st  2nd  3rd  4th  5th  5th - 4th  2nd - 1st
Cube    1    8   27   64  125         61          7

In [ ]:
df.iloc[[2]].T

           Cube
1st           1
2nd           8
3rd          27
4th          64
5th         125
5th - 4th    61
2nd - 1st     7

In [ ]:
df.iloc[[0,2]]

        1st  2nd  3rd  4th  5th  5th - 4th  2nd - 1st
Number    1    2    3    4    5          1          1
Cube      1    8   27   64  125         61          7

In [ ]:
df.iloc[[0,2]].T

           Number  Cube
1st             1     1
2nd             2     8
3rd             3    27
4th             4    64
5th             5   125
5th - 4th       1    61
2nd - 1st       1     7

In [ ]:
df

        1st  2nd  3rd  4th  5th  5th - 4th  2nd - 1st
Number    1    2    3    4    5          1          1
Square    1    4    9   16   25          9          3
Cube      1    8   27   64  125         61          7

In [ ]:
df.drop('5th - 4th', axis = 1, inplace=True)
df

        1st  2nd  3rd  4th  5th  2nd - 1st
Number    1    2    3    4    5          1
Square    1    4    9   16   25          3
Cube      1    8   27   64  125          7

In [ ]:
df

        1st  2nd  3rd  4th  5th  2nd - 1st
Number    1    2    3    4    5          1
Square    1    4    9   16   25          3
Cube      1    8   27   64  125          7

In [ ]:
df.drop('2nd - 1st', axis=1,inplace=True)
df

        1st  2nd  3rd  4th  5th
Number    1    2    3    4    5
Square    1    4    9   16   25
Cube      1    8   27   64  125

In [ ]:
df

        1st  2nd  3rd  4th  5th
Number    1    2    3    4    5
Square    1    4    9   16   25
Cube      1    8   27   64  125

In [ ]:
df = df.T

In [ ]:
df

     Number  Square  Cube
1st       1       1     1
2nd       2       4     8
3rd       3       9    27
4th       4      16    64
5th       5      25   125

In [ ]:
df1 = df.transpose()

In [ ]:
df1

        1st  2nd  3rd  4th  5th
Number    1    2    3    4    5
Square    1    4    9   16   25
Cube      1    8   27   64  125

In [ ]:
df

     Number  Square  Cube
1st       1       1     1
2nd       2       4     8
3rd       3       9    27
4th       4      16    64
5th       5      25   125

In [ ]:
#Creation of a data frame from scratch
df1 = pd.DataFrame({'Laptop':['Dell','Lenovo','HP','Asus','Acer','Apple'],'Rating Out of 5':[3.5,3,4,4.25,3,5]})
df1

   Laptop  Rating Out of 5
0    Dell             3.50
1  Lenovo             3.00
2      HP             4.00
3    Asus             4.25
4    Acer             3.00
5   Apple             5.00

In [ ]:
df2 = pd.DataFrame({'CPU':['Core i7','Core i3','Core i5','Core i9','AMD Ryzen','M1/M2'],'GPU':['GTX','GTE','GTE3080','GTE3060','GTE3040','M1/M2']})
df2

         CPU      GPU
0    Core i7      GTX
1    Core i3      GTE
2    Core i5  GTE3080
3    Core i9  GTE3060
4  AMD Ryzen  GTE3040
5      M1/M2    M1/M2

In [ ]:
#Concatenate / Join of a data frame through columns
df = pd.concat([df1,df2],axis=1)
df

   Laptop  Rating Out of 5        CPU      GPU
0    Dell             3.50    Core i7      GTX
1  Lenovo             3.00    Core i3      GTE
2      HP             4.00    Core i5  GTE3080
3    Asus             4.25    Core i9  GTE3060
4    Acer             3.00  AMD Ryzen  GTE3040
5   Apple             5.00      M1/M2    M1/M2

In [ ]:
#Converting a data frame into a csv file 
df.to_csv('PC_Data.csv')

In [ ]:
df

   Laptop  Rating Out of 5        CPU      GPU
0    Dell             3.50    Core i7      GTX
1  Lenovo             3.00    Core i3      GTE
2      HP             4.00    Core i5  GTE3080
3    Asus             4.25    Core i9  GTE3060
4    Acer             3.00  AMD Ryzen  GTE3040
5   Apple             5.00      M1/M2    M1/M2

In [ ]:
#Converting a data frame into a excel file 
df.to_excel('PC_Data.xlsx')

###Import and Read a file (csv or excel) to google colab:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd



```
1. Copy the path of that file, you want to import and read.
Example: 
path: /content/drive/MyDrive/Notes/Iris.csv

2. Use .read_csv or .read_xlsx to read that file.

```

In [ ]:
iris = pd.read_csv('/content/drive/MyDrive/Notes/Iris.csv')

##OR

In [ ]:
path = '/content/drive/MyDrive/Notes/Iris.csv'
iris = pd.read_csv(path)



```
Returning that csv file:
```

In [ ]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##**MORE PANDAS FUNCTIONS**



```
.head() => The .head() method returns first five record.
        => we can also pass the value to return specific record.
```

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.head(3)           # It will return first 3 record.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa



```
.tail() => The .tail() method returns last five records. 
        => we can also pass the value to return specific record.
```

In [ ]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris.tail(7)        # It will returns last 7 record.

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica



```
.info() => The .info() method returns the information of data.
```

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB



```
.describe() => The describe() method returns description of the data in the DataFrame.
```

In [ ]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
iris.head(15)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

###.iloc() method:
#####*Using the iloc() function in python, we can easily retrieve any particular value from a row or column using index values.*

```
.iloc[row,column]
.iloc[start:stop:jump,start:stop:jump]
```
#####Where Rows - start:stop - index start is inclusive and index stop is exclusive.

In [ ]:
iris.iloc[0:5,1:4]

   SepalLengthCm  SepalWidthCm  PetalLengthCm
0            5.1           3.5            1.4
1            4.9           3.0            1.4
2            4.7           3.2            1.3
3            4.6           3.1            1.5
4            5.0           3.6            1.4

###Question:
#####We have to show rows from index 5 to 10 and columns from index 3 to last from data ' iris.csv '.
####Answer:

In [ ]:
iris.iloc[5:11,2:]

    SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5            3.9            1.7           0.4  Iris-setosa
6            3.4            1.4           0.3  Iris-setosa
7            3.4            1.5           0.2  Iris-setosa
8            2.9            1.4           0.2  Iris-setosa
9            3.1            1.5           0.1  Iris-setosa
10           3.7            1.5           0.2  Iris-setosa

###.loc() method:
####*The loc() property is used to access a group of rows and columns by label(s) or a boolean array.*

```
.loc[start:stop:jump('label1','label2',.....,'labelN')]
```
#####Rows : From index start to stop.
#####Columns: label1, label2,........,labelN
```
.loc[start:stop:jump,'label1':'labelN']
```
#####Rows : From index start to stop.
#####Columns: From label1 to labelN.
```
.loc[[index1,index2,.....,indexN],'label1':'labelN':jump]
```
#####Rows : index1,index2,.....,indexN
#####Columns: From label1 to labelN.
#####It means rows have no label only indexes, while columns have labels.

```
.loc['starting_label:'stopping_label':jump, start:stop:jump]
```
#####Rows : From index starting_label to stopping_label.
#####Columns: From index start to stop.

#####It means columns have no label only indexes, while rows have labels.
####Note: 
#####1. One of the rows or columns must have lebels.
#####2. In loc() method start and stop both indexes are inclusive.
###Examples:

In [ ]:
row = ['Number','Square','Cube']
df = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,8,27,64,125]], index = row)
df

        0  1   2   3    4
Number  1  2   3   4    5
Square  1  4   9  16   25
Cube    1  8  27  64  125

In [ ]:
df.loc['Number':'Cube', 0:3]

        0  1   2   3
Number  1  2   3   4
Square  1  4   9  16
Cube    1  8  27  64

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.loc[0:5,("SepalLengthCm","PetalLengthCm")]

   SepalLengthCm  PetalLengthCm
0            5.1            1.4
1            4.9            1.4
2            4.7            1.3
3            4.6            1.5
4            5.0            1.4
5            5.4            1.7

In [ ]:
iris.loc[0:5,"SepalLengthCm":"PetalLengthCm"]

   SepalLengthCm  SepalWidthCm  PetalLengthCm
0            5.1           3.5            1.4
1            4.9           3.0            1.4
2            4.7           3.2            1.3
3            4.6           3.1            1.5
4            5.0           3.6            1.4
5            5.4           3.9            1.7

In [ ]:
iris.loc[[1,3,15],"SepalLengthCm":"PetalLengthCm"]

    SepalLengthCm  SepalWidthCm  PetalLengthCm
1             4.9           3.0            1.4
3             4.6           3.1            1.5
15            5.7           4.4            1.5

###.drop()
##### The drop() method is used to drop rows or column.
*   To drop row, set axis = 0.
```
.drop('Rows Name', axis=0)                             -If rows have labels.
.drop([rows_index1,...row_indexN], axis=0)             -If rows have indexes.
```
*   To drop column, set axis = 1.
```
.drop('Columns Name', axis=1)                          -If columns have labels.
.drop([columns_index1,...,column_indexN], axis=1)      -If columns have indexes.
```

###Examples:

In [ ]:
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

Dropping Rows:

In [ ]:
iris.drop([1,2,5],axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris1 = iris.drop([2,5,9],axis=0)
iris1.head(10)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa

Dropping Columns:

In [ ]:
iris.drop('Species', axis=1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

###Some Basic Functions of Pandas

:

```
.mean() - Calculating Mean:  Pandas dataframe.mean() function returns the mean of the values for the requested axis. 

```

In [ ]:
iris.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64



```
.median() - Calculating Median: The median() method returns a Series with the median value of each column.
```

In [ ]:
iris.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64



```
.min() - The min() method returns the minimum of the values over the requested axis.
```

In [ ]:
iris.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object



```
.max() - The max() method returns the maximum of the values over the requested axis.
```

In [ ]:
iris.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

####Make a Function and Use it

1.   Make a function, which calculates the required calculation.
2.   Use .apply to return.

###Example
#####Make half of requested axis:

In [ ]:
def make_half(s):
  return s*0.5
iris[['SepalWidthCm','PetalWidthCm']].apply(make_half)

     SepalWidthCm  PetalWidthCm
0            1.75          0.10
1            1.50          0.10
2            1.60          0.10
3            1.55          0.10
4            1.80          0.10
..            ...           ...
145          1.50          1.15
146          1.25          0.95
147          1.50          1.00
148          1.70          1.15
149          1.50          0.90

[150 rows x 2 columns]

###Example 
#####Make Double:

In [ ]:
def make_double(s):
  return s*2
iris[['SepalLengthCm','PetalLengthCm']].apply(make_double)

     SepalLengthCm  PetalLengthCm
0             10.2            2.8
1              9.8            2.8
2              9.4            2.6
3              9.2            3.0
4             10.0            2.8
..             ...            ...
145           13.4           10.4
146           12.6           10.0
147           13.0           10.4
148           12.4           10.8
149           11.8           10.2

[150 rows x 2 columns]

###.value_counts() 
##### value_counts() function returns a Series containing counts of unique values. 

##Example

In [ ]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

###.sort_values(by='')
#####Pandas sort_values() function sorts a data frame in Ascending or Descending order of passed Column. It’s different than the sorted Python function since it cannot sort a data frame and particular column cannot be selected.
##Example

In [ ]:
iris.sort_values(by='SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

In [ ]:
iris1 = iris.sort_values(by='SepalLengthCm')
iris1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

In [ ]:
iris1.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa